<!doctype html>
<html lang="en">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>注册Sign Up Now</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Simplest is - Professional A unique and beautiful collection of UI elements">
    <link rel="icon" href="/static/assets/images/favicon.png">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/uikit.css">
    <link rel="stylesheet" href="/static/assets/css/uikit.css">

    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="/static/assets/css/icons.css">
    <script src="https://kit.fontawesome.com/815e388c50.js" crossorigin="anonymous"></script>

    <!-- Google font
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

</head>

<body class="bg-myself">



    <!-- Content
    ================================================== -->
    <div uk-height-viewport class="uk-flex uk-flex-middle">
        <div class="uk-width-2-3@m uk-width-1-2@s m-auto rounded uk-overflow-hidden shadow-lg">
            <div class="uk-child-width-1-2@m uk-grid-collapse bg-gradient-primary" uk-grid>

                <!-- column one -->
                <div class="uk-margin-auto-vertical uk-text-center uk-animation-scale-up p-3 uk-light">
                        <img src="/static/assets/images/mid.png" alt="">
                    <h3 class="mb-3 mt-lg-4">安徽大学校园论坛   </h3>
                    <p>分享你的校园趣事 <br> 快乐每一天. </p>
                </div>

                <!-- column two -->
                    <div class="uk-card-default px-5 py-8">
                        <div class="mb-4 uk-text-center">
                            <h2 class="mb-0"> 创建账号</h3>
                            <p class="my-2">请填写一下信息，我们将帮助您创建您的账号</p>
                        </div>

                    <form action="{% url 'signup' %}" method="post" class="uk-child-width-1-1 uk-grid-small" uk-grid>
                        {% csrf_token %}
                        <div>
                            <div class="uk-form-group">
                                <label class="uk-form-label"> 姓名</label>

                                <div class="uk-position-relative w-100">
                                    <span class="uk-form-icon">
                                        <i class="icon-feather-user"></i>
                                    </span>
                                    <input class="uk-input" type="text" name="name" placeholder="请填写全称">
                                </div>

                            </div>
                        </div>
                        <div>
                            <div class="uk-form-group">
                                <label class="uk-form-label"> 邮箱</label>

                                <div class="uk-position-relative w-100">
                                    <span class="uk-form-icon">
                                        <i class="icon-feather-mail"></i>
                                    </span>
                                    <input class="uk-input" name="email" type="email" placeholder="name@example.com">
                                </div>

                            </div>
                        </div>

                        <div class="uk-width-1-2@s">
                            <div class="uk-form-group">
                                <label class="uk-form-label"> 密码</label>

                                <div class="uk-position-relative w-100">
                                    <span class="uk-form-icon">
                                        <i class="icon-feather-lock"></i>
                                    </span>
                                    <input class="uk-input" name="password" type="password" placeholder="请牢记您的密码">
                                </div>

                            </div>
                        </div>
                        <div class="uk-width-1-2@s">
                            <div class="uk-form-group">
                                <label class="uk-form-label"> 确认密码</label>

                                <div class="uk-position-relative w-100">
                                    <span class="uk-form-icon">
                                        <i class="icon-feather-lock"></i>
                                    </span>
                                    <input class="uk-input" name="password_confirm" type="password"  placeholder="请确认密码和原密码一致">
                                </div>

                            </div>
                        </div>

                        <div>
                            <div class="mt-4 uk-flex-middle uk-grid-small" uk-grid>
                                <div class="uk-width-expand@s">
                                    <p> 我已经有账号？ <a href="{% url 'login' %}">立刻登录</a></p>
                                </div>
                                <div class="uk-width-auto@s">
                                    <input type="submit" class="button primary" value="完成注册"></input>
                                </div>
                            </div>
                        </div>

                    </form>
                </div><!--  End column two -->

            </div>
        </div>
    </div>

    <!-- Content -End
    ================================================== -->




    <!-- javaScripts
    ================================================== -->
    <script src="/static/assets/js/uikit.js"></script>
    <script src="/static/assets/js/simplebar.js"></script>



</body>

</html>